*{
margin: 0;
padding: 0%;
box-sizing: border-box;

}
html{
  margin-right: 0;
}
.insta_container{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 100%;
  height:fit-content;
}



.img_banner_insta{
  width: 100%;

}
.box_img_banner_insta{
  position: relative;
  width: 100%;
}





.box_promo_envio{
z-index: 999;
position: fixed;
margin-top: 20px;
top:37px;
color: white;
background-color:black;
width:100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 30px;      
display: flex;
align-items: center;  
}
 

.banners{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:100%;
  height: 100%;
  row-gap: 20px;
}

.banners >div:nth-child(2){

}

.banners >div:nth-child(3){
display:none;
}

.banners >div:nth-child(4){
display: none;
}



.box_tollbar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
}

.box_tollbar div select{
  width: 200px;
  height: 30px;
  text-align: center;
}

.box_promo_envio h3 {
padding-top:8px;
font-size: 12px;
letter-spacing: 2px;
font-family: roboto;
color:#fff;

}




/*Menu mobile*/

.lista_opciones_2{
   font-size: 15px;
   display:flex;
   flex-direction: row;
   list-style: none;   
   margin: 0;
   padding: 0;      
   gap: 15px;   
   position: relative;
}



.lista_opciones_2 a {
  text-decoration: none; 
  color: inherit;        
}


.li_btn_cerrar{
 background-color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  
  
}



.btn_cerrar{
width: 40px;
margin-left: auto;
border: none;
height: 35px;
overflow: hidden
}



.img_btn_cerrarmenu{
  width: 100%;
  background: white;
}


.btn_menu_home{
  background: transparent;
}




.box_btn_menu{
width: 100px;
height: 40px;
padding: 5px;
padding-top: 17px;
}





h1{
  font-size: 30px;
  text-align: center;
}


/*Diseños externos*/




.btn_vertienda{
  font-size: 15px;
  letter-spacing: 2px;
  font-family: "roboto";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  width: 150px;
  text-align: center;
  background:black;
  color:#fff;
  position:relative;
  border: none;
  height:35px;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  z-index: 1;
}





.btn_vertienda a {
}






.btn_vertienda:hover{
  background:#fff;
  color: black;

}




.btn_vertienda:before,.btn_vertienda:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: white;
  transition:400ms ease all;
  border-radius: 10px;
  

}


.option{
  font-family:"roboto";
  font-size: 20px;
}



.label_title_categorias{
 letter-spacing: 4px;
  font-size: 20px;
  font-family: "roboto";
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 10px;
}


.label_title {
  letter-spacing: 3px;
  font-size: 20px;
  font-family: "roboto";
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 10px;
}
.label_title_marcas{
  letter-spacing: 11px;
  font-size: 20px;
  font-family: "roboto";
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 10px;
}

.label_title_talle{
 letter-spacing: 14px;
  font-size: 20px;
  font-family: "roboto";
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 10px;
}


.btn_vertienda:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
  border-radius: 10px;



}
.btn_vertienda:hover:before,.btn_vertienda:hover:after{
  width:100%;
  transition:800ms ease all;
}




/*                                                                                                                         body productos*/

/*Diseños externos*/

.btn_search{
  height: 100%;
  border: none;
  justify-content: center;
  background-color: white;
}

.btn_search:active {
  transform: scale(0.95);


}

.text_input{

  width: 100px;
}

.box_input_busqueda{
  display: none;
  border: 1px solid black;
  border-radius: 6px;
  margin-left: 5px;
  height: fit-content;
  padding: 5px;
  margin-top: -5px;
}



.search{

display: flex;
flex-direction: row;
justify-content: center;
width: 65%;

}

.img_search{
  width: 60px;
  background-color: transparent;
}



.link_1{
  
  text-decoration: none;
  color: inherit;
   font-size: 18px;
   z-index: 2;
}


.nav_bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: "roboto", sans-serif;
    position: fixed;
    background-color: #fff;
    top: 0px;
    z-index:99999 ;
    position: fixed;
    border-bottom: 1px solid black;
}

a{
  color: inherit;
  text-decoration: none;

}


.a_op2_Carrito{
  position: relative;
}


/* estilo de atajos*/


.box_img_atajo{

  width: 100%;
  
}

.box_img_atajo img{
  width:100%;
  aspect-ratio: 3/4; /* o 1/1 o 16/9, elegí uno fijo */
  background:#f3f3f3; /* color de relleno elegante */
  display:flex;
  align-items:center;
  justify-content:center;
  border-top-left-radius: 20px;


}

.div_scroll{
  padding: 10px;
  display: flex;
  flex-direction: column;
  view-timeline-name:--reveal;
  animation-name: show;
  animation-fill-mode: both;
  animation-timeline:--reveal;
  animation-range: entry 25% cover 50%;
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-bottom-right-radius: 20px;
}

.img_atajos {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.h3_atajos{

    position: absolute;
    bottom: 12px;
    left: 12px;
    color: white;
    font-weight: 800;
    letter-spacing: 5px;
    font-size: 14px;

}

/*Section New Arrivals */

.section_novedades {
  margin-bottom: 30px;
  align-items: center;
  height: fit-content;
  margin-left:5px ;
  margin-top: 30px;
  width: 100%;
  
}

.box_novedades{
width: 100%;
}

.titulo_arrivasl{
  text-align: center;
}

.box_productos_new{
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 6px;
  width: 100%;
  scrollbar-width: none;

}


.box_productos_new::-webkit-scrollbar{
  display: none;
}


.titulo_arrivasl {
  font-family: roboto;
  margin-bottom: 25px;
}

.box_Producto_new{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: fit-content;
  scroll-snap-align: start;
  margin-bottom: 20px;
}



.contain_info{
  width: 100%;
margin-top: -15px;
background-color: #1AAB8A;

}

.btn_comprar{
border-radius: 10px;
margin-bottom: 5px;
width: 85px;
height: 20px;
font-size: 10px;
background-color: black;
color: white;
}


.btn_comprar:hover{
  color: black;
  background-color: white;
}

.box_img_new{

  height:fit-content;
  width: 180px;
  height: 100%;

  overflow:hidden;
}


.descripcion_new{
  text-align: center;
  box-shadow: 2px 4px 4px -3px black;
  
}
.descripcion_new p{
  height: 10px;
}

.box_img_new img{

  width: 100%;
 
}

.descripcion_new{
 margin-top: 3px;

}

.descripcion_new h3 {
  font-size: 17px;
  font-family: "Bebas Neue", sans-serif;

}

.descripcion_new h4{
  font-size: 12px;
  font-family: "Bebas Neue", sans-serif;
}

.descripcion_new p{
  text-align: center;
}

/*Section New Arrivals*/

.link_home{
    width: fit-content;
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;


}


.box_logo_nav{
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.logo_nav{
  width: 88px;
  position: absolute;
  top: -11px;
  left: -14px;


}


.box_nav{
  display: flex;
  flex-direction: column;
  width: 40px;
}

.box_a_home{
  width: fit-content;
  display: flex;
}


.menu {
  display: none;
}



.menu.active {
  display: flex;
}

.menu_2{
  padding-left: 20px;
  display: none;
  width: 100%;
  justify-content: end;
  margin-right: 0.8vh;
  height: fit-content;
  padding-right: 10px;
 
}



.lista_opciones_2{
  font-family: roboto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
}


.lista_opciones_2 li{
  width: fit-content;

}



.box_carrito{
  display: flex;
  flex-direction: row;
position: relative;
}



.box_contador {
  background-color: #1AAB8A;
  color: white;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top:-1px;
  right: 10px;

}
.contador{
  font-size: 10px;
    align-items: center;
    margin-top: 1px;
}

/* CARRITO DE MODO MOBILE */
.box_carrito_sider{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 23px;
}



.p_carrito{  
display: flex;
flex-direction: column;
height:fit-content;
display: end;
}



.box_img_sider{
  width: 50px;
  height: fit-content;
}

.img_carrito_sider{
  width: 80%;
  height: 100%;
  margin-bottom: 8px;
}



.box_contador_sider{
  background-color: yellow;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background-color: #1AAB8A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top:-2px;
  right:6px;
  
}



.contador_Sider{
  position: absolute;
  top: -3px;
  right: 10px;
  height:10px;
  color: white;
  text-align: center;
}


/* CARRITO DE MODO MOBILE */

.ul_lista_categorias{
  padding: 0;
  margin: 0;

}
.ul_lista_categorias li a {
  color: black; 
}


.menu_h{
  margin-top: 10px;
  padding-bottom: 20px;
}

.titulo_nav_H2{
text-align: center;
padding: 10px;
font-size: 40px;
font-family:"roboto";
background-color:black;
color:white;
}


.box_politicas li{
font-size: 25px;
}

.box_politicas{
  margin: 0;
  padding: 0;
}


.lista_opciones{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  backdrop-filter: blur(100px);
  width:360px;
  height: 100vh;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  position: fixed;
  top: 30px;
  right:2px ;
  z-index: 999;


}
.icono_gen_m{
  width: 33px;
  padding-bottom: 15px;

}
.icono_gen_f{
width: 38px;
}

.opciones_1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
  height: 330px;
  padding: 0;
  margin: 0;
}




.categorias_h{
padding-top:15px;
}





.categorias_h li{
width: 100%;
}




.li_menu_mobile{
  width: 100%;
  color: inherit;
   
}
.li_menu_mobile a{
  color: black;

}

.a_sale{
  color: white;
  width: 100%;
  
}


.li_menu_mobile_sale{
 background-color:#1AAB8A ;
 background: linear-gradient(254deg,rgba(26, 171, 138, 1) 11%, rgba(0, 0, 0, 1) 26%);
}

.li_menu_mobile_sale:hover{

 background: linear-gradient(254deg,rgba(26, 171, 138, 1), rgba(10, 10, 10, 1));
  background-size: 200% 200%;
  background-position: left;
  transition: background-position 0.5s ease;
background-position: right;
}


.lista_marcas li a {
  color: black;
}
.lista_marcas li a:hover{
  color:#1AAB8A;
}


.titulo_menu_nav{
  height: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 5px;
  color: white;
  background-color: black;
}




.lista_opciones a {
  text-decoration: none; 
  list-style: none;      
  font-size: 25px;  
}

.box_contador_sider{
  width: 35px;
  height: 35px;
}

.lista_opciones li {
  list-style: none;
  padding-left: 8px;
  margin-top: 12px;
}

.lista_opciones a:hover {
  text-decoration: none; 
}

a{
  text-decoration: none;
}


/*
Barra de filtrado y busqueda de productos 
*/





/*         banner*/
.tollbar{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.tol

.ordenar{
  margin-top:15px ;
  margin-bottom: 15px;
  margin-left: 10px;
}


.btn_filtrar{
  font-size: 15px;
  letter-spacing: 2px;
  font-family: "roboto";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  width: 150px;
  text-align: center;
  background:black;
  color:#fff;
  position:relative;
  border: none;
  height:35px;
  cursor:pointer;
  transition:1000ms ease all;
  outline:none;
  z-index: 1;
}

.btn_filtrar:hover{
  scale: 1.1;
}




.box_button_filtrar{
  display:flex ;
  flex-direction:row;
  justify-content: center;
  margin-top: 15px;
}

.banner_prod{
width: 100%;
height: 250px;
background-color: #1AAB8A;

}

.breadcrumb{
  width: 100%;
  padding: 12px 16px 6px;
  font-size: 13px;
  margin-left: 10px;
}

/* LISTA */
.breadcrumb_list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ITEM */
.breadcrumb_item{
  display: flex;
  align-items: center;
  white-space: nowrap;
}

/* LINKS */
.breadcrumb_link{
  color: #7b7b7b;
  text-decoration: none;
  cursor: pointer;
  transition: color .2s;
}

.breadcrumb_link:hover{
  color: #1AAB8A;
}

/* ACTUAL */
.breadcrumb_current{
  color: #1AAB8A;
  font-weight: 600;
}

/* SEPARADOR */
.breadcrumb_item:not(:last-child)::after{
  content: ">";
  margin: 0 7px;
  color: #c4c4c4;
}

/* SOLO el último puede bajar de línea */
.breadcrumb_item:last-child{
  white-space: normal;
}


.tool_bar{
  margin-left: 10px;

  width: 100%;
  
}

.breadcrumb{
  font-size: 10px;
  text-decoration: none;
}


/*
Barra de filtrado y busqueda de productos 
*/





.box_nav{
  position: sticky;
  top: 0;
  z-index: 9999;
  isolation: isolate;

}



.img_carrito{  
    width: 18px;
   
}


.btn_menu_home{
  position: fixed;
  right: 10px;
  border:none;
}





body{
  width: 100%;
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  overflow-x: hidden;
  position: relative;
  overflow-x: hidden;
}






.box_header{
width: 100%;
}



/*cards info home*/





.info_card{
  height: 100px;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  justify-content: center;
  width: 100%;
  background-color: #f0f0f0;
}





.box_btn_interfaz{
 border: none;
height: 100px;
}





.box_info{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  font-family: roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}



.box_info p {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}


.box_btn_interfaz img:active {
 
 scale: 1.1;
   transition: transform 0.1s ease;
}




.img_btn_interfaz{
  width: 100%;
  
}



.h2_home{
    text-align: center;
}



.box_main_home{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.box_main{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;   
}


.box_circle_logo{
    width: 250px;
  height: 250px;          
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;    
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px ;
  margin-bottom: 40px;
}

.logo{
    margin-top: 4px;
    width: 100%;
    height: 143%;
    object-fit: cover;  
    
}


/*medidas de logos de carrusel*/
.marca img.logo_calvin{
  height: 250px;
}

.marca img.logo_armani{
  height: 250px;
}

.marca img.logo_miche{
height: 250px;

}

.marca img.logo_esse{
  height:50px;
}


.marca img{
  height: 60px;
  width: auto;
  object-fit: contain;
  filter: grayscale(100%);
  opacity: .8;
  transition: .3s;
}


/*medidas de logos de carrusel*/


.marcas{
  padding: 18px 0;
  background: #fff;
  height: fit-content;
}

.marcas_viewport{
  overflow: hidden;
  width: 100%;
  height: fit-content;
}



.marcas_track{
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 60px;
  display: flex;
  width: fit-content;
  height: fit-content;
  animation: scrollMarcas 60s linear infinite;

}


.marca{
  flex: 0 0 auto;
}


.marca img:hover{
  filter: grayscale(0);
  opacity: 1;
  transform: scale(1.1);
}

@keyframes scrollMarcas {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-70%);
  }
}



.marcas{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
    
}

.lista_marcas {
height: fit-content;
  text-align: center;
  margin:0;
  padding: 0;
  
}

.lista_marcas li{
  margin-top:5px;
  margin-bottom: 5px;
  font-size: 25px;
  

}

.lista_marcas li:hover{
  transform: scale(1.2);
  
}


.logo_nike{
margin-top: 1px;
}


.h1_home{
  margin-top: 20px;
  font-size: 15px;
  font-family: roboto;
}

.p_home{
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 4px;
}




.ul {
  list-style: none;
  padding: 0; /* opcional, saca el sangrado */
  margin: 0;
}




/*BANNER HOME*/

.titulo_banner_1{
  text-align: start;
  font-size: 50px;
  font-family: "roboto";
  font-weight: 1000;
  color: white;
}


.subtitulo_banner_1{
  color: white;

}





.box_banner{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 520px;
  width: 370px;
  margin:0 auto;

}
.box_banner h2{
  position: absolute;
  top:365px;
}


.box_marcas_lista h3{
  font-size: 30px;
}
.box_marcas {
  height: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.box_marcas.active {
    max-height: 700px; /* o auto con otra técnica */
}

.rotate {
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}

.box_marcas_lista{
  display: flex;
  flex-direction: row;
  height: fit-content;
  margin-top: 50px;
  margin-left: 10px;
}

.box_banner p{
  position: absolute;
  top:417px ;
}

.button_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100% ;
  height: 10px;
  position: absolute;
  top:447px;
}



.box_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.btn_mas_lista{
  margin-left: auto;
  height: fit-content;
  border: none;
  margin-right: 10px;
  background-color: transparent;
}


.box_list_marcas{
  display: none;
  height: fit-content;
}

.li_menu_marcas{
  background-color: #1AAB8A;
  font-size: 25px;
}



.box_politicas{
  
  background: #1AAB8A;
background: linear-gradient(254deg,rgba(26, 171, 138, 1) 11%, rgba(0, 0, 0, 1) 26%);
  padding:4px;
  height: 100px;
  
}

.box_politicas p{
  font-size: 20px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  background-color: transparent;
  height: 100%;
  align-content: center;
  color:white;
}



.box_h3_btn{
  margin:0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top:10px;
  margin-bottom:10px;
}



.box_h3_btn h3{

  margin-left: 10px;

}


.btn_mas{
  background: none;
  margin-left: auto;
  border: none;
  margin-right: 10px;

}
.btn_marcas{
   background: none;
  margin-left: auto;
  border: none;
  margin-right: 10px;
}
.img_btn_marcas{
 width: 30px;
  transition: transform 0.3s;
}


.img_btn_mas{
  width: 30px;
  transition: transform 0.3s;
}
.box_politicas_li{
  margin: 0;
  padding: 0;
  height: fit-content;
}



.politicas_li.activo .box_politicas{
   max-height: 200px;
  opacity: 1;
}

.politicas_li.activo .img_btn_mas{
  transform: rotate(45deg);
}


.box_marcas.activo .img_btn_marcas{
  transform: rotate(45deg);
}

.img_btn_marcas {
    transition: transform 0.3s ease;
}

/* ROTACIÓN */
.marcas_li.activo .img_btn_marcas {
    transform: rotate(45deg);
}

.box_marcas {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.marcas_li.activo .box_marcas {

    max-height: 1000px; /* o 2000px si querés olvidarte */
}



.box_politicas{
 max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.3s ease;
}




.footer{

  width: 100%;
  height: fit-content;
}

.box_footer_creditos{
  display: none;

}

/* cards desplegable con las politicas*/






.box_footer_politicas{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}


.box_footer_politicas h2 {
  padding-bottom:4px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 45px;
  color: white;
  background-color: black;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  letter-spacing: 5px;
}



.box_footer_politicas li {
  text-align: start;
  margin-top: 5px;
  margin-bottom: 5px;
}

.box_footer_redes{

  top: 5;
  width: 100%;
  background-color:black;
}

.box_footer_redes ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  list-style-type: none;
  background-color: #1AAB8A;
}

.box_btn_Wsp{
  position: relative;
}
.tooltip_wsp_js{
  position: fixed;
  background: black;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 13px;
  white-space: nowrap;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;

  z-index: 99999;
}



.a_circle_wsp{
  position: fixed;
  top: 710px;
  right: 37px;
  width: 55px;        
  height: 55px;
  border-radius: 50%;
  overflow: hidden;  
  display: inline-block; 
  border:1px solid #1AAB8A;
  box-shadow: 0 4px 10px black;
}


.a_circle_wsp img {
  width: 100%;
  height: 100%;
  object-fit: cover;    
  display: block;   
}

.a_circle_wsp:hover{
  scale: 1.1;

}


.footer h2{
  line-height: 1.4;
  text-align: center;
 
}


.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer a:visited,
.footer a:hover,
.footer a:active {
  color: inherit;
  text-decoration: none;
}

.footer a:hover{
  color: #1AAB8A;
}



.lista_categorias_footer{
  text-align: center;
}
.lista_categorias_footer li{
  margin-top:10px;
  margin-bottom: 10px;
  font-size: 25px;
}

.lista_categorias_footer li:hover{
transform: scale(1.3);
}


/*Circulo de redes*/

.icon_contactos{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

   
    height: fit-content;
    view-timeline-name:--reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline:--reveal;
    animation-range: entry 25% cover 50%;

}

.box_red_1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 40%, rgba(26, 171, 138, 1) 98%);  width: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
}

.box_red_1:hover{
scale: 1.1;
}


.box_red_1 h4{
  font-size: 20px;
  margin-top: 20px;
}

.box_footer_categorias{
  margin-top:20px;
}
.box_redes{
  background-color: black;
  width: 100%;
 color: red;
}

box

.box_titulos_redes{
  margin-bottom: 60px;
  height: 100px;
  background-color: red;
  background: #1AAB8A;
  background: linear-gradient(180deg, rgba(26, 171, 138, 1) 4%, rgba(0, 0, 0, 1) 62%);
  
}

.p_redes{
color: white;
text-align: center;
}

.titulo_redes{
  color: white;
  font-family: "roboto";
  font-size: 40px;
  letter-spacing: 6px;
}

.a_circle :hover{
  scale: 1.1;

}





.a_circle {
  width: 70px;        
  height: 70px;
  border-radius: 50%;
  overflow: hidden;  
  display: inline-block; 
  border:1px solid #1AAB8A;
  box-shadow: 0 4px 10px black;

}



.a_circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;    
  display: block;      
}
.box_contain{

  margin-top:100px ;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container_atajos{
  row-gap: 25px;
  width: 100%;
  display:flex;
  flex-direction: column;
  border: 1px; scrollbar-width: black;
  border-radius: 10px;

}

.container_atajos div{
  height: 250px;
  border-radius: 10px;

}



@keyframes show{
  from {
    opacity: 0; transform: scale(0.1);
  }

  to {
    opacity: 1; transform: scale(1);;
  }
}

.div_scroll h3{
  
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin-left: 15px;

}


.box_img_atajo {
  aspect-ratio: 1/1;
}






/*Estilos de seccion de productos*/

.box_main_productos{ 
  display: flex;
  flex-direction: column;
  width:100%;
  margin-bottom: 100px;
  
}

.prod_cards{
  padding-top:20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,180px);
  flex-wrap: wrap;
  justify-content:center ;
  align-items: center;
  gap: 20px;
}

.card_prod{
  view-timeline-name:--reveal;
  animation-name: show;
  animation-fill-mode: both;
  animation-timeline:--reveal;
  animation-range: entry 25% cover 40%;
  display: flex;
  flex-direction: column;
  width: 170px;
  align-items: center;
  border-radius: 20px;
  margin-top: 20px;
  height: fit-content;
  border-bottom-right-radius: 20px;
  box-shadow: 2px 4px 4px -3px black;
  padding-bottom: 15px;

}

.box_btn_comprar_producto{
justify-content: center;
align-items: center;
display: flex;

}



.box_ingreso{
  height: 28px;
  width: 100%;
}



.box_img_prod{
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  overflow:hidden;
}



.img_prod{

  border-top-left-radius: 20px;
  object-fit: cover;
   width:100%;
  height:100%;
  display:block;
}



.link_productos{
  text-decoration: none;
  color: inherit;
}




.ingreso{
  color: #1AAB8A;
  letter-spacing: 3px;
}



.card_des{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 170px;

  justify-content: center;
  
}

.ingreso_stock {
  color :grey;
  letter-spacing: 3px;
}
.nombre_prod{
font-size: 15px;
}

.des_prod{
font-size: 12px;

}

.precio{
font-family: "Inter", sans-serif;
font-size: 15px;
font-weight: bold;

}



.img2{
 display: none;
}


/*Tablet*/



@media (min-width: 700px) and (max-width: 950px) {


.box_tollbar{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

}


  /*insta y final*/
  

  .insta_container{

}



.img_banner_insta{


}
.box_img_banner_insta{

}


  .banners{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:100%;
  align-items: center;
  padding: 2px;
}

.banners > div{
width: 99%;
margin: 0 auto;
}

.banners >div:nth-child(2){
display: flex;
}

.banners >div:nth-child(3){
display:none;
}

.banners >div:nth-child(4){
display: none;
}



 
}


.box_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



@media (min-width: 429px) and (max-width: 700px) {





  .insta_container{

}



.img_banner_insta{


}


.box_img_banner_insta{
padding-left: 25px;
padding-right:25px;
}


.box_banner{
  width: 100%;
}
.box_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



}

@media (min-width: 499px) and (max-width: 850px) {
   



.nav_bar{
display: grid;
grid-template-columns: 100px auto 10px 100px ;
width: 100%;
height: 61px;
}

.banners{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:100%;
  align-items: center;
  padding: 2px;
  
}
  

  .img_search{
    width: 25px;

  }

  .search{
display: flex;
width: 100%;
margin: 0 auto;
}

.btn_search{
  width: 40px;
  height: 100%;
}

.img_search{
width: 60px;
}



  .box_input_busqueda{
    display: none;
    flex-direction: row;
  width: 143px;
  font-size: 12px;
  letter-spacing: 2px;
  height: 30px;
  }

  .lista_opciones_2{
    display: none;
    background-color:blue;
    width: 100%;
    text-align: center; 

 }

  .lista_opciones_2 li{
    width: 100%;
  font-size: 18px;
  }

  .btn_search{
    width: 22px;
    height: 22px;
  }

 
  .menu_2{
    padding: 0;
    width: 100%;
  }


  .box_input_busqueda{
  display: none;
   margin-right: 20px;
   width: fit-content;
  }



  .text_input{
    display: none;
  font-family: roboto;
  text-align: center; 
  padding-top: 2px;
  width: 135px;
  padding-left: 7px;
  }
  
  .btn_search{
    width: 22px;
    height: 22px;
  }

  .banner_home{
    height: 400px;
  }

.box_circle_logo{
  width: 350px;
  height: 350px;          
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;    
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px ;
  margin-bottom: 50px;

}

  .h1_home{
  font-size: 20px;
}

.marca img {
height: 120px;
}



  .container_atajos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  

  
  
  
  .menu_2{
    display: flex;
  }

.btn_menu_home{
  display: block;
}

.btn_menu_home img {
width: 42px;
}



/*Productos*/


.box_main_productos{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.prod_cards{

  padding:10px 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  
}


.card_prod {
  view-timeline-name:--reveal;
  animation-name: show;
  animation-fill-mode: both;
  animation-timeline:--reveal;
  animation-range: entry 15% cover 40%;
  width: 100%;
  height: auto;
}

.box_img_prod{
  height: 100%;
  margin-bottom: 10px;
  aspect-ratio:1/1;
  overflow:hidden;
}
.img_prod{
  width:100%;
  height:100%;
  object-fit:cover;
  
}


.card_des{
  width: 100%;
  flex:1;
  display:flex;
  flex-direction:column;
  justify-content:space-between;

}




 .titulo_arrivasl h3{
 font-size: 35px;
}


.box_promo_envio{
  margin-top: 24px;


}


}

/*Escritorio*/




@media (min-width:800px) {



  /*boton de wsp flotante*/

  .a_circle_wsp{
  position: fixed;
  width: 70px;        
  height: 70px;
  border-radius: 50%;
  overflow: hidden;  
  display: inline-block; 
  border:1px solid #1AAB8A;
  box-shadow: 0 4px 10px black;
}

.icon_contactos{
  display: flex;
  flex-direction: row;
  scale: 1.1;
}

.box_tollbar{
  display: flex;
flex-direction: row;
height: 100px;
justify-content: center;
align-items: center;
}


  .info_card{

    padding-left: 60px;
    padding-right: 60px;
  }

  .btn_menu_home{
  display: block;

 
}
.btn_menu_home img {
width: 42px;
}

  .box_input_busqueda{
    display: none;
  }

.search{
display: flex;
width: 100%;
}

.btn_search{
  width: 40px;
  height: 100%;
}

.img_search{
width: 60px;
}

.nav_bar{
  display: grid;
  grid-template-columns:50px auto 20px;
}


.menu_2{ 
    display: none;
    justify-content: center;
    width: 80%;
  }


.a_op2{
  font-size:20px;
}



.banners{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  justify-content: center;
  width:100%;
  align-items: center;
  padding: 2px;
}

.box_banner{
  width: 100%;
}
.box_input_busqueda{
  display: none;
}


.div_scroll{
 height: 420px;
}



.box_input_busqueda{
  display: none;
  flex-direction: row;
  width: 300px;
  font-size: 12px;
  letter-spacing: 2px;
  height: 50px;
  }



.img2{
  display: block;
}
.banner_home{
  display: flex;
  flex-direction: row;
}

.text_input{
  padding-left: 5px;
  width: 100%;
  font-size: 20px;
  height: 40px;
}


  .box_circle_logo{
  width: 450px;
  height: 450px;          
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;    
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px ;
  margin-bottom: 60px;
}

   .h1_home{
  font-size: 30px;
}


 .titulo_arrivasl h3{

font-size: 50px;
 }
 .titulo_arrivasl{
  margin-bottom: 50px;
 }

  .box_productos_new{
    column-gap: 10px;
    width:100% ;
  }

  .box_Producto_new{
    width: 250px;

  }

.box_img_new{
    width: 100%;
  }


.marca img {
height: 100px;
padding: 10px;
}


.box_contador{
  width: 25px;
  height: 25px;
  flex-direction: column;
  text-align: center;
  top: -4px;
  right: -1px;
}

.contador{
  font-size: 18px;
   margin: 0 auto;
}

.container_atajos{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
}


.card_prod{

width: 100%;
view-timeline-name:--reveal;
animation-name: show;
animation-fill-mode: both;
animation-timeline:--reveal;
animation-range: entry 15% cover 40%;

} 

.prod_cards{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  padding-left: 10px;
  padding-right: 10px;
}


.box_promo_envio{
  margin-top: 24px;
}


}




@media (min-width:1124px) {



 .info_card{

    padding-left: 250px;
    padding-right: 250px;
  }


.img_carrito{
  width: 40px;
}

.a_op2_Carrito{
  font-size: 20px;
}

.btn_search{
  width: 42px;
  height: 100%;
}

.nav_bar{
display:grid;

grid-template-columns: 100px 250px 60% 1fr;
width: 100%;
}


.menu_2{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }



.lista_opciones_2{
    display:flex;
  }




.li_op2{
  margin-top: 10px;
}



.a_op2{
  font-size:20px;
}



.box_btn_menu{
  display: none;
}

}




/*fin de la query*/








