*{
margin: 0;
padding: 0%;
box-sizing: border-box;

}


/*Menu mobile*/

.lista_opciones_2{
   font-size: 15px;
    display:flex;
    flex-direction: row;
    list-style: none;   
    margin: 0;
    padding: 0;      
    gap: 15px;   
}

.lista_opciones_2 a {
  text-decoration: none; 
  color: inherit;        
}


.btn_menu_home{
  background: transparent;
}
.box_btn_menu{
 background: transparent;
}


h1{
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
}


/*Diseños externos*/

.button_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.btn_vertienda{
  justify-content: center;
  width: 150px;
  text-align: center;
  background:#1AAB8A;
  color:#fff;
  border-radius: 10px;
  position:relative;
  border: none;
  height:70px;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  z-index: 1;
  
}
.btn_vertienda:hover{
  background:#fff;
  border-radius: 10px;
}
.btn_vertienda:before,.btn_vertienda:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
  border-radius: 10px;
}
.btn_vertienda:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
  border-radius: 10px;
}
.btn_vertienda:hover:before,.btn_vertienda:hover:after{
  width:100%;
  transition:800ms ease all;
}


/*Diseños externos*/



.link_1{
  
  text-decoration: none;
  color: inherit;
   font-size: 18px;
   z-index: 2;
}


.nav_bar{
    padding-top: 12px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: "Bebas Neue", sans-serif;
    position: fixed;
    background-color: #fff;
    top: 0px;
}

a{
  color: inherit;
  text-decoration: none;

}

/*Section New Arrivals */

.section_novedades {
  align-items: center;
  background-color: #1AAB8A;
  height: fit-content;
  margin-left:5px ;
  margin-right: 5px;
  margin-top: 50px;
  
}

.box_novedades{

}

.titulo_arrivasl{
  text-align: center;
}

.box_productos_new{
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 6px;
  width: 100%;
  background-color: aqua;
  scrollbar-width: none;

}

.box_productos_new::-webkit-scrollbar{
  display: none;
}

.box_Producto_new{
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  border: 1px solid green;
  min-width: 170px;
  scroll-snap-align: start;

  
}

.box_img_new{
  border: 1px solid red;
  width: 170px;
  height:fit-content;
  
}


.box_img_new img{
  width: 170px;
 
}

.descripcion_new{
 margin-top: 6px;
}

.descripcion_new h3 {
 
  font-size: 17px;
  font-family: "Bebas Neue", sans-serif;

}

.descripcion_new h4{
  font-size: 12px;
  font-family: "Bebas Neue", sans-serif;
}

.descripcion_new p{
  text-align: center;
}
/*Section New Arrivals*/

.link_home{
    margin-left:10px;
    text-decoration: none;
    font-size: 18px;
    color: inherit;
     
}


.box_a_home{

  min-width:80px;
  max-width: 140px;
}


.menu {
  display: none;
}

.menu.active {
  display: flex;
}


.menu_2{
  display: none;
}



.lista_opciones{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  backdrop-filter: blur(100px);
 border: 1px solid black;
  width:200px;
  height: 230px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  position: fixed;
  top: 40px;
  right:41px ;
  z-index: 999;

}





.lista_opciones a {
  text-decoration: none; 
  color: inherit;
  list-style: none;        
}


.lista_opciones li {
  list-style: none;
  padding-left: 15px;
  margin-top: 10px;
}

.lista_opciones a:hover {
  text-decoration: none; 
}

a{
  text-decoration: none;
}

.box_nav{
  position: fixed;
}


.img_carrito{  
    width: 30px;
   
}

.btn_menu_home{
  position: fixed;
  right: 10px;
  border:none;
}

body{
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  overflow-x: hidden;
}

.box_header{

}

.h1_home{
   display: none;
}


.h2_home{
    text-align: center;
}
.box_main_home{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.box_main{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;   
}


.box_circle_logo{
    width: 250px;
  height: 250px;          
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;    
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px ;
  margin-bottom: 30px;
}

.logo{
    margin-top: 4px;
    width: 100%;
    height: 143%;
    object-fit: cover;  
    
}


.marcas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
    
}


.logo_nike{
margin-top: 12px;
}





.ul {
  list-style: none;
  padding: 0; /* opcional, saca el sangrado */
  margin: 0;
}




/*BANNER HOME*/

.banner_home{
  border: 1px solid red;
  background-color: blue;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 365px;
  height: 220px;
  
}

.box_banner{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}



.footer{
  border-top:1px solid #1AAB8A;
  margin-top: 50px;
  padding-top: 20px;


}



.box_footer_redes ul{

  display: flex;
  flex-direction: row;
 list-style: none;
list-style-type: none;
}

.footer h2{
  font-size: 22px;
  line-height: 1.4;
  text-align: center;
}


.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer a:visited,
.footer a:hover,
.footer a:active {
  color: inherit;
  text-decoration: none;
}

.footer a:hover{
  color: #1AAB8A;
}




/*Circulo de redes*/

.icon_contactos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
     view-timeline-name:--reveal;
  animation-name: show;
  animation-fill-mode: both;
  animation-timeline:--reveal;
  animation-range: entry 25% cover 50%;

}






.a_circle {
  
  width: 70px;        
  height: 70px;
  border-radius: 50%;
  overflow: hidden;  
  display: inline-block; 
  border:1px solid #1AAB8A;
  box-shadow: 0 4px 10px black;

}



.a_circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;    
  display: block;      
}
.box_contain{

  margin-top:100px ;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container_atajos{
  row-gap: 25px;
  width: 95%;
  display:flex;
 flex-direction: column;
  border: 1px; scrollbar-width: black;
  border-radius: 10px;

}

.container_atajos div{
  height: 250px;
  border: 2px solid blue;
  border-radius: 10px;
  background-color: aqua;
  

}

.div_scroll{
  box-shadow: 0 4px 10px black;
  display: flex;
  flex-direction: column;
  view-timeline-name:--reveal;
  animation-name: show;
  animation-fill-mode: both;
  animation-timeline:--reveal;
  animation-range: entry 25% cover 50%;
}

@keyframes show{
  from {
    opacity: 0; transform: scale(0.1);
  }

  to {
    opacity: 1; transform: scale(1);;
  }
}

.div_scroll h3{
  
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin-left: 15px;

}



/*Tablet*/

@media (min-width: 420px) and (max-width: 800px) {
  .menu_2{
    display: flex;
  }

.btn_menu_home{
  display: none;
}

}




/*Escritorio*/

@media (min-width: 768px) {

  .btn_menu_home{
    display: none;
  }
.menu_2{
  
    display: flex;
  }
}

/*fin de la query*/



